body {
  overflow-x: hidden;
}

/* testing */
/* * {
  outline: 1px solid red;
} */


.nav-men {
    display: flex;
    align-items: center; 
    margin: 28px 48px;
  }
  
  .nav-men h1 {
    margin-right: auto; 
  }
  
  .accessories-men {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1; /* Take up remaining space */
  }
  
  .accessories-men ul {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center; 
    margin-right: 20px;
  }
  
  .nav-menpic {
    top: 0;
    margin: 48px;
  }

  @media (max-width: 768px) {
    .nav-menpic {
      margin-top: 10px;
     margin: 0;
    }
  }

  .text-nav-men {
    margin: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  .text-men-center {
    text-align: center;
  }

  .three-men-image {
    margin: 84px;
  }

  .shop-essential {
    padding: 2px 48px; /* Top padding 2px, left and right padding 48px */
    margin: 0 0 12px; /* Bottom margin 12px, top and sides default to 0 */
  }
  
  /* grid pic */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding-left: 48px; 
    padding-right: 48px;
    overflow-x: auto;
  }

  .grid-item {
    padding-bottom: 30px;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
  }
  
  .text-beside {
    margin-top: 16px;
  }
  @media (max-width: 768px) {
    .shop-essential {
      padding: 8px 48px; 
    }
  
    .grid-item img {
      width: 300px;
      height: 300px; 
      max-width: 300px; 
    }
  
    .text-beside {
      margin-top: 10px; 
      font-size: 18px; 
    }
  }

  /* humburger */
  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease; 
  }
  
  .sidebar.active {
    right: 0;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .close-btn {
    font-size: 28px;
    cursor: pointer;
    margin-left: 90%; 
  }


 /* hover on the texts */
 .hover-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  background-color: rgb(255, 255, 255);
  width:100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  z-index: 1; 
}

.hover-down-texts {
  margin-bottom: 20px;
  gap: 80px;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.flex-item-hover {
  display: flex;
  flex-direction: column;
}

.flex-item-hover > a {
  margin-bottom: 10px;
}

.flex-item-hover-gray {
  color: gray;
  margin-bottom: 10px;
}

.flex-item-hover-gray:hover {
  color: black;
}
/* end-hover-texts */

  /* marathon-man */
  .marathon-text {
    margin-top: 84px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 28px;
  }

  .image-men1 {
    width: 100%;
  }
  .image-men1 img {
    width: 100%;
    height: auto;
    margin: 0; 
    padding: 0; 
  }

  /* classic-shoes */
  .classic-shoes {
    margin: 0 48px 24px; /* Margin: top 0, right/left 48px, bottom 24px */
  }
  
  .horizontal-scroll-container {
    width: 100%;
    overflow-x: auto; 
    white-space: nowrap;
    padding-left: 48px;
    box-sizing: border-box; 
  }
  
  .horizontal-scroll-container img {
    display: inline-block; 
    max-width: 50%;
    height: auto;
    object-fit: cover; 
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .horizontal-scroll-container img {
      width: 340px; 
      max-width: none; 
      margin-right: 0;
    }
  }

  .brook-favs {
    margin-top: 84px;
    margin-left: 48px;
    margin-right: 28px;
  }


  /* image-brook */
  .image-container {
    display:flex;
  }
  
  .brook-image {
    position: relative;
    width: 100%;
    padding: 5px;
    margin-left: -5px;
  }
  
  .brooks-fav-text {
    margin-bottom: 12px;
  }

  .brook-texts {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
   
   }
  
  .brook-texts button {
    background-color: white; 
    color: black; 
    border-radius: 20px; 
    padding: 8px 16px; 
  } 
  
  .image-member img {
    width: 100%;
    height: auto;
  }   
  
  @media (max-width: 768px) {
    .image-container {
      flex-direction: column; 
    }
  
    .image-member,
    .member-text {
      width: 100%;
      left: 0; 
    }
    .member-text {
      margin-left: 15px; 
    }
  }
  
  /* Popular shoes */
  .popular-shoes {
    margin-top: 84px;
  }

  .popular-text {
    margin-bottom: 12px;
    padding-top: 2px;
    padding-left: 48px;
    padding-right: 48px;
  }

  /* horizontal-image-with-text-below */
  .horizontal-scroll-container-text {
    display: flex; 
    overflow-x: auto; 
    padding-left: 48px; 
  }
  
  .image-with-text {
    padding-bottom: 30px; 
    margin-right: 10px;
  }
  
  .image-with-text img {
    max-width: 676px; 
    height: auto;
    margin-bottom: 10px; 
  }
  
  .image-with-text h4,
  .image-with-text h5,
  .image-with-text h3 {
    text-align: left; 
  }
  
  @media (max-width: 768px) {
    .horizontal-scroll-container-text {
      overflow-x: auto;
      padding-left: 48px; 
    }
  
    .image-with-text {
      margin-left: 5px;
      margin-right: 0; 
    }
  
    .image-with-text img {
      width: 340px; 
      max-width: none; 
    }

    .popular-text {
      margin-left: 5px;
    }
  }

  /* Member benefit */
  .member-benefit {
    margin-top: 84px;
  }

  .member-text-benefit {
    margin-bottom: 12px;
    padding-top: 2px;
    padding-left: 48px;
    padding-right: 48px;
  }


  .member-text-image {
    padding-left: 48px;
    padding-bottom: 30px;
  }

  /* Image and text */
  .image-container {
    display:flex;
    flex-wrap: nowrap; 
    overflow-x: hidden; 
    max-width: 100%;
  }
  
  .image-member {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px;
  }
  
  .member-text {
    position: absolute;
    bottom: 20px;
    color: black;
   }
  
  .member-text button {
    background-color: white; 
    color: black; 
    border-radius: 20px; 
    padding: 8px 16px;
  } 
  
  .image-member img {
    width: 100%;
    height: auto;
    margin-left: -5px;
  }   
  
  .overflow-scroll-x {
    overflow-x: auto;
    white-space: nowrap; 
}

  @media (max-width: 768px) {
    .image-container {
      flex-direction: column; 
    }
  
    .image-member,
    .member-text {
      padding-right: 30px;
      width: 100%; 
      left: 0; 
    }
    .member-text {
      margin-left: 15px; 
    }

    .image-member {
      margin-left: -1px;
    }
  }
  
  /* Footer 1 */
  .footer1-men {
    margin-top: 48px;
    margin-bottom: 56px;
    font-size: 16px;
}

.outer-container {
    margin-left: 179.500px; 
    margin-right: 179.500px; 
}

.footer-men-margin {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 110px; 
    margin-left: 179.500px; 
    margin-right: 179.500px; 
}

.footer-men-margin > div {
    text-align: left; 
    color: gray;
}

.footer-men-margin h4 {
    margin-bottom: 24px; 
    color: black;
    font-size: 24px;
}

.footer-men-margin ul {
    list-style: none;
    padding: 0; 
}

.footer-men-margin ul li {
    margin-bottom: 12px; 
    font-size: 16px;
}

.footer-men-margin ul li a:hover {
  color: black; 
}


@media (max-width: 768px) {
  .footer-men-margin {
      display: flex;
      flex-direction: column;
      align-items:start;
      margin-left: 50px;
      gap: 10px;
      margin-top: -50px;
      top: 0;
  }
  
  .footer-men-margin ul li {
      display: none; 
  }
}

@media (min-width:1280px) {
  .footer-men-margin {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-left: 50px;
    top: 0;
  }
}

/* Footer2 */
.footer2-men {
  background-color: black;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 40px;
}

.footer2-men h4{
  background-color: black;
  font-size: 14px;
}

.footer2-container {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.footer2-class {
  margin-right: 30px;
}

.footer2-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer2-li {
  padding: 6px;
  color: gray;
  margin-bottom: 5px;
}

/* svg icons */
.svg-icon-footer2 {
  display: flex;
  margin-left: 20px;
}


.svg-icon-footer2 ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: gray;
    padding: 0;
    margin: 0;
}

/* United state */
.privacy {
  margin-top: 48px;
}

.down-footer2 {
  color: white;
  display: flex;
  padding-left: 8px;
  padding-right: 6px;
  padding-top: 12px;
}

.nike-right-reserved {
  color: gray;
}

/* footer2-right */
.footer2-bottom-right {
  margin-left: auto;
  color: gray;
  gap: 20px;
}

.footer2-bottom-right ul {
  display: flex;
  margin: -50px;
  margin-right: -2px;
  gap: 20px;
}

.footer2-bottom-right li {
  justify-content: space-around;
  margin-left: 40;
}

.footer2-bottom-right ul li {
  margin-bottom: 10px;
}

/* footer-down the guides */
.footer-links-column {
  justify-content: flex-end;
  display: flex;
  color: gray;
  list-style: none;
  padding: 5px;
  margin: 0;
  gap: 20px;
  margin-top: -25px;
}

.footer-links-column li {
  margin-left: 0;
}

.footer2-men > .footer2-container > .footer2-class > .footer2-ul > .footer2-li:hover {
  color: white;
  cursor: pointer;
}

.svg-icon-footer2 :hover {
  fill: white;
  cursor: pointer;
}

/* Footer2 responsive */
@media (max-width: 768px) {
  /* Hide li elements */
  .footer2-class li {
    display: none;
  }
/* svg-icon */
  .footer2-men > .container > .footer2-men > .footer2-container {
    display: flex;
    flex-direction: column;
  }
  .footer2-men > .container > .footer2-men > .footer2-container > .svg-icon-footer2 > ul > li {
    display: flex;
    position: relative;
    left: -20%;
    top: 20px;
  }

  /* united-state */
  .footer2-men > .container > .footer2-men >  .privacy > .down-footer2  {
    display: flex;
    flex-direction: column;
    margin-left: -4vw;
    margin-bottom: 2vh;
    }

    /* location */
    .footer2-men > .container > .footer2-men >  .privacy > .down-footer2 > .svg-location  {
      display: flex;
      margin-bottom: 10px;
    }


  /* Display h4 elements */
  .footer2-class h4 {
    display: flex;
    margin-left: -25px;
  }

  .footer2-bottom-right {
    display: none;
  }

  .footer-links-column {
    display: none;
  }
}

/* iphone12-pro */
@media (min-width: 390px) and (max-height: 844px) {
  .svg-icon-footer2 {
    display: none;
  }
  .big-nav-container {
    display: none;
  }
}
