.nav-men {
    display: flex;
    align-items: center; /* Align items vertically */
    padding: 26px 0px 0px;
    margin: 0px 48px;
  }
  
  .nav-men h1 {
    margin-right: auto; /* Push the h1 element to the left */
  }
  
  .accessories-men {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1; /* Take up remaining space */
  }
  
  .accessories-men ul {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center; 
    margin-right: 20px;
  }
  
  .nav-menpic {
    top: 0;
    margin: 48px;
  }

  .text-nav-men {
    margin: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  .text-men-center {
    text-align: center;
  }

  .three-men-image {
    margin: 84px;
  }

  .shop-essential {
    padding: 2px 48px; /* Top padding 2px, left and right padding 48px */
    margin: 0 0 12px; /* Bottom margin 12px, top and sides default to 0 */
  }
  
  /* grid pic */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 10px; /* Gap between columns */
    padding-left: 48px; /* Left padding */
    padding-right: 48px;
  }
  
  .grid-item {
    padding-bottom: 30px;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
  }
  
  .text-beside {
    margin-top: 16px;
  }
  
  .marathon-text {
    margin-top: 84px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 28px;
  }

  /* marathon-man */
  .image-men1 {
    width: 100%;
  }
  .image-men1 img {
    width: 100%;
    height: auto;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }

  /* classic-shoes */
  .classic-shoes {
    margin: 0 48px 24px; /* Margin: top 0, right/left 48px, bottom 24px */
  }
  
  /* carousel */
  .horizontal-scroll-container {
    width: 100%; /* Set the width of the container */
    max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Ensure images stay in a single line */
  }
  
  .horizontal-scroll-container img {
    display: inline-block; /* Display images in a line */
    max-width: 100%; /* Ensure images don't exceed the container width */
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .horizontal-scroll-container img {
      width: 340px; /* Set the width to 100% for smaller screens */
      max-width: none; /* Remove the maximum width restriction */
      margin-right: 0; /* Remove margin between images */
    }
  }

  .brook-favs {
    margin-top: 84px;
    margin-left: 48px;
    margin-right: 48px;
  }


  /* image-brook */
  .image-container {
    display:flex;
  }
  
  .brook-image {
    position: relative;
    width: 100%;
    padding: 5px;
  }
  
  .brook-texts {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black; /* Change text color to black */
   }
  
  .brook-texts button {
    background-color: white; /* Change button background color */
    color: black; /*Change button text color  */
    border-radius: 20px; /*Add border-radius to button */ 
    padding: 8px 16px; /*Add padding to button  */
  } 
  
  .image-member img {
    width: 100%;
    height: auto;
  }   
  
  @media (max-width: 768px) {
    .image-container {
      flex-direction: column; /* Change flex direction to column */
    }
  
    .image-member,
    .member-text {
      width: 100%; /* Set width to 100% for smaller screens */
      left: 0; /* Reset left position */
    }
    .member-text {
      margin-left: 15px; /* Add margin-left for text on smaller screens */
    }
  }
  
  /* Popular shoes */
  .popular-shoes {
    margin-top: 84px;
  }

  .popular-text {
    margin-bottom: 12px;
    padding-top: 2px;
    padding-left: 48px;
    padding-right: 48px;
  }

  /* horizontal-image-with-text-below */
  .horizontal-scroll-container-text {
    display: flex; /* Display flex for horizontal layout */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-left: 48px; /* Add left padding to the container */
  }
  
  .image-with-text {
    padding-bottom: 30px; /* Add bottom padding to the image */
    margin-right: 10px; /* Adjust margin between each container */
  }
  
  .image-with-text img {
    max-width: 676px; /* Set maximum width to maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add space between image and text */
  }
  
  .image-with-text h4,
  .image-with-text h5,
  .image-with-text h3 {
    text-align: left; /* Align text to the left */
  }
  
  @media (max-width: 768px) {
    .horizontal-scroll-container-text {
      overflow-x: auto;
      padding-left: 0; /* Remove left padding on smaller screens */
    }
  
    .image-with-text {
      padding-left: 24px; 
      margin-right: 0; 
    }
  
    .image-with-text img {
      width: 340px; /* Set width to 340px on smaller screens */
      max-width: none; /* Remove maximum width restriction */
    }
  }

  /* Member benefit */
  .member-benefit {
    margin-top: 84px;
  }

  .member-text-benefit {
    margin-bottom: 12px;
    padding-top: 2px;
    padding-left: 48px;
    padding-right: 48px;
  }


  .member-text-image {
    padding-left: 48px;
    padding-bottom: 30px;
  }

  /* Image and text */
  .image-container {
    display:flex;
  }
  
  .image-member {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px;
  }
  
  .member-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black; /* Change text color to black */
   }
  
  .member-text button {
    background-color: white; /* Change button background color */
    color: black; /*Change button text color  */
    border-radius: 20px; /*Add border-radius to button */ 
    padding: 8px 16px; /*Add padding to button  */
  } 
  
  .image-member img {
    width: 100%;
    height: auto;
  }   
  
  .overflow-scroll-x {
    overflow-x: auto;
    white-space: nowrap; /* Prevent wrapping */
}

  @media (max-width: 768px) {
    .image-container {
      flex-direction: column; /* Change flex direction to column */
    }
  
    .image-member,
    .member-text {
      padding-right: 30px;
      width: 100%; /* Set width to 100% for smaller screens */
      left: 0; /* Reset left position */
    }
    .member-text {
      margin-left: 15px; /* Add margin-left for text on smaller screens */
    }
  }
  
  /* Footer 1 */
  .footer1-men {
    margin-top: 48px;
    margin-bottom: 56px;
    font-size: 12px;
}

.outer-container {
    margin-left: 179.500px; /* Apply left margin */
    margin-right: 179.500px; /* Apply right margin */
}

.footer-men-margin {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center; 
    margin-left: 179.500px; 
    margin-right: 179.500px; 
}

.footer-men-margin > div {
    text-align: left; 
    color: gray;
}

.footer-men-margin h4 {
    margin-bottom: 24px; 
    color: black;
}

.footer-men-margin ul {
    list-style: none;
    padding: 0; 
}

.footer-men-margin ul li {
    margin-bottom: 12px; 
}

@media (max-width: 768px) {
  .footer-men-margin {
      display: flex;
      flex-direction: column;
      align-items:start;
      font-size: 10px;
      margin-left: 50px;
      margin-right: 20px;
      gap: 10px;
      margin-top: -50px;
      top: 0;
  }
  
  .footer-men-margin ul li {
      display: none; /* Hide li elements */
  }
}

/* Footer2 */
.footer2-men {
  background-color: black;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 16px;
  font-size: 12px;
}

.footer2-container {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.footer2-class {
  margin-right: 30px;
}

.footer2-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer2-li {
  padding: 6px;
  color: gray;
  margin-bottom: 5px;
}

/* svg icons */
.svg-icon-footer2 {
  display: flex;
  margin-left: 20px;
}


.svg-icon-footer2 ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: gray;
    padding: 0;
    margin: 0;
}

/* United state */
.privacy {
  margin-top: 48px;
}

.down-footer2 {
  color: white;
  display: flex;
  padding-left: 8px;
  padding-right: 6px;
  padding-top: 12px;
  font-size: 16px;
}

/* footer2-right */
.footer2-bottom-right {
  display: flex;
  justify-content: flex-end;
}

.footer2-bottom-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer2-bottom-right li {
  margin-left: 40%;
}