/* logo nike */
.logo-container {
  position: absolute;
  left: 20px; /* Adjust the distance from the left edge */ 
  top: 50%;
  transform: translateY(-50%); 
}

/* Brooks-big-text */
@media (max-width: 768px) {
  .big-text-brook {
    font-size: 4rem; /* Set font size to text-lg for smaller screens */
  }
  .big-text-brook-top {
    font-size: 4rem;
    margin-top: -30px;
  }
}


  /* Scrolling */
  .scroll-container {
    overflow-x: hidden;
    width: 100%;
  }
  
  .snap-x {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
  
  .snap-start {
    flex: 0 0 auto;
    padding-right: 16px;
  }

  .snap-start img {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Allow images to scale proportionally */
  }
  @media (max-width: 768px) {
    .snap-x {
      scroll-padding: 0 50%; 
    }
    
    .snap-start img {
      max-width: 400px; /* Set max width to 400px when zoomed in */
      height: 420px; /* Set height to 420px when zoomed in */
    }
  }

/* bag and heart icon*/
.relative {
  display: flex;
  align-items: center;
}

.pr-4 {
  margin-right: 0; 
}

/* button for trending */
.trending-section {
  position: relative; 
}

.swiper1-button-prev,
.swiper1-button-next {
  position: absolute;
  top: 1px;
  right: 4px;
  width: 40px;
  height: 40px;
  background-color: #D9D9D9;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}


.swiper1-button-next {
  right: 50px;
}


.swiper1-button-prev button,
.swiper1-button-next button {
  font-size: 15px; /* Adjust as needed */
  border: none;
  background: none;
  padding: 0;
  appearance: none; /* Remove default button styling */
  color: white;
}

/* classic horizontal-scroll */
.horizontal-scroll-container {
  width: 100%; /* Set the width of the container */
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Ensure images stay in a single line */
}

.horizontal-scroll-container img {
  display: inline-block; /* Display images in a line */
  max-width: 100%; /* Ensure images don't exceed the container width */
  height: auto;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin-right: 10px;
}

@media (max-width: 768px) {
  .horizontal-scroll-container img {
    width: 340px; /* Set the width to 100% for smaller screens */
    max-width: none; /* Remove the maximum width restriction */
    margin-right: 0; /* Remove margin between images */
  }
}


/* button for shop by sport */
.shop-section {
position: relative; 
}

.swiper2-button-prev,
.swiper2-button-next {
position: absolute;
top: 1px;
right: 4px;
width: 40px;
height: 40px;
background-color: #D9D9D9;
color: white;
border-radius: 50%;
cursor: pointer;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
}


.swiper2-button-next {
right: 50px;
}

.swiper2-button-prev button,
.swiper2-button-next button {
font-size: 15px; /* Adjust as needed */
border: none;
background: none;
padding: 0;
appearance: none; /* Remove default button styling */
color: white;
}


/* bag and heart icon*/
.pr-4 {
margin-right: 0; 
}

/* button for trending */
.popular-section {
position: relative; 
}

.swiper3-button-prev,
.swiper3-button-next {
position: absolute;
top: 1px;
right: 4px;
width: 40px;
height: 40px;
background-color: #D9D9D9;
color: white;
border-radius: 50%;
cursor: pointer;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
}


.swiper3-button-next {
right: 50px;
}

.swiper3-button-prev button,
.swiper3-button-next button {
font-size: 15px; /* Adjust as needed */
border: none;
background: none;
padding: 0;
appearance: none; /* Remove default button styling */
color: white;
}

/* Nike membership and all image container*/
.image-container {
  display:flex;
}

.image-overlay {
  position: relative;
  width: 100%;
  height: 60%;
  padding: 5px;
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black; /* Change text color to black */
 }

.overlay-text button {
  background-color: white; /* Change button background color */
  color: black; /*Change button text color  */
  border-radius: 20px; /*Add border-radius to button */ 
  padding: 8px 16px; /*Add padding to button  */
} 

.image-overlay img {
  width: 100%;
  height: auto;
}   

@media (max-width: 768px) {
  .image-container {
    flex-direction: column; /* Change flex direction to column */
  }

  .image-overlay,
  .overlay-text {
    width: 100%; /* Set width to 100% for smaller screens */
    left: 0; /* Reset left position */
  }
  .overlay-text {
    margin-left: 15px; /* Add margin-left for text on smaller screens */
  }
}


/* footer1 */
.footer1 {
  text-align: left;
  padding: 100px;
  background-color: #f2f2f2;
}


.row {
  display: flex;
  gap: 20px;
  justify-content: space-between; 
  margin-bottom: 25px;
}


.text {
  flex: 1;
  max-width: calc(25% - 20px); 
  margin-right: 20px;
  margin-bottom: 20px;

}


.text p {
  margin: 15px 0;
  padding: 0px 70px;
  color: gray;
  white-space: nowrap; /* Prevent wrapping of text */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}


.feature-shoes,
.text:first-child p:first-child,
.text:nth-child(2) p:first-child,
.text:nth-child(3) p:first-child,
.text:nth-child(4) p:first-child {
  color: black; /* Set color to white for specific paragraphs */
}


@media screen and (max-width: 768px) {
  .row {
    flex-direction:row ; /* Change flex direction to column on smaller screens */
    justify-content:left;
    margin-right: 10px;
    margin-left: 20px;
  }

  .text {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

/* Footer 2 */
body {
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.column {
  flex: 1;
  padding: 15px;
}


.column p {
  color: #fff; /* White color for normal text */
  margin-bottom: 15px;
}


.copyright {
  margin-top: 20px;
  color: #666;
  font-size: 12px;
  display: flex;
  position: relative;
}


.social-link-icon {
  margin-right: 5px;
}

.guides {
  color: #666;
  font-size: 12px;
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  justify-content: flex-end; /* Adjust the alignment of the flex items to the end */
}

.guides p {
  color: #666;
  margin-bottom: 1px;
}

.guides img {
  margin-bottom: 10px;
  
}


/* United state location */
.px-3 {
  display: flex;
  align-items: center; /* Center vertically */
}
.px-3 svg {
  margin-right: 5px; /* Add margin to separate SVG and text */
}


.privacy {
  color: #666;
  font-size: 12px;
  position: absolute;
  right: 0;
}

/* twitter */
.social-link-icon {
  color: #ffff;
  vertical-align: middle;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}


.footer {
  background-color: #000;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  /* Styles for screens up to 600px wide */
  .column {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  /* Styles for screens wider than 600px */
  .column {
    width: 25%; /* or any other appropriate width */
  }
}

.column {
  width: 100%; /* By default, takes full width */
}

@media screen and (min-width: 768px) {
  .column {
    width: 50%; /* Takes 50% width on screens wider than 768px */
  }
}

img {
  max-width: 100%;
  height: auto;
}

