// <uniquifier>: Use a unique and descriptive class name

/* logo nike */
.logo-container {
  position: absolute;
  left: 20px; /* Adjust the distance from the left edge */
  top: 50%;
  transform: translateY(-50%);
}


/* text */
.text-center {
    /* font-family: "Helvetica Now Text Medium"; */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  }

  /* Scrolling */
  .scroll-container {
    overflow-x: hidden;
    width: 100%;
  }
  
  .snap-x {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
  
  .snap-start {
    flex: 0 0 auto;
    padding-right: 16px;
  }
  