/* Footer 2 */
body {
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.column {
    flex: 1;
    padding: 15px;
}


.column p {
    color: #fff; /* White color for normal text */
    margin-bottom: 15px;
}


.copyright {
    margin-top: 20px;
    color: #666;
    font-size: 12px;
    display: flex;
    position: relative;
}


.social-link-icon {
    margin-right: 5px;
}

.guides {
    color: #666;
    font-size: 12px;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    justify-content: flex-end; /* Adjust the alignment of the flex items to the end */
}

.guides p {
    color: #666;
    margin-bottom: 1px;
}

.guides img {
    margin-bottom: 10px;
    
}


/* United state location */
.px-3 {
    display: flex;
    align-items: center; /* Center vertically */
}
.px-3 svg {
    margin-right: 5px; /* Add margin to separate SVG and text */
}


.privacy {
    color: #666;
    font-size: 12px;
    position: absolute;
    right: 0;
}

/* twitter */
.social-link-icon {
    vertical-align: middle;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}


.footer {
    background-color: #000;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    /* Styles for screens up to 600px wide */
    .column {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 601px) {
    /* Styles for screens wider than 600px */
    .column {
      width: 25%; /* or any other appropriate width */
    }
  }
  
  .column {
    width: 100%; /* By default, takes full width */
  }
  
  @media screen and (min-width: 768px) {
    .column {
      width: 50%; /* Takes 50% width on screens wider than 768px */
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  

