body {
  overflow-x: hidden;
}


.nav-kid {
    display: flex;
    align-items: center; 
    padding: 26px 0px 34px;
    margin: 0px 48px;
  }
  
  .nav-kid h1 {
    margin-right: auto; 
  }


  .accessories-kid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1; /* Take up remaining space */
  }
  
  .accessories-kid ul {
    display: flex;
    align-items: center; 
    margin-right: 20px;
  }

  /*  humburger */ 
  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease; 
  }
  
  .sidebar.active {
    right: 0;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .close-btn {
    font-size: 28px;
    cursor: pointer;
    margin-left: 90%; 
  }

  .nav-kidpic {
    margin-left: 48px;
    margin-right: 48px;
  }


  .text-nav-kid {
    margin: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  .text-kid-center {
    text-align: center;
  }

  /* four kids image */
  .size-all {
    margin-left: 48px;
    margin-right: 48px;
  }

  
  .flexbox-container {
    margin-left: 48px;
    margin-right: 48px;
  }

  /* hover on the texts */
.hover-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20px);
  background-color: rgb(255, 255, 255);
  width:100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  z-index: 1; 
}

.hover-down-texts {
  margin-bottom: 20px;
  gap: 80px;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}


.flex-item-hover {
  display: flex;
  flex-direction: column;
}

.flex-item-hover > a {
  margin-bottom: 10px;
}

.flex-item-hover-gray {
  color: gray;
  margin-bottom: 10px;
}

.flex-item-hover-gray:hover {
  color: black;
}
/* end-hover-texts */

  .flexbox-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .left-top, .left-bottom, .right-top, .right-bottom {
     flex:  calc(50% - 5px); /* Each item takes half of the container width minus gap */
  }

  .img {
      width: 100%;
      height: auto;
  }


/* text-button */
.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
   }
  
  .overlay-text button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    border-radius: 20px;
    padding: 8px 16px; 
  } 

  .image-overlay {
    position: relative;
  }

  /* kid responsive-columns */
  @media (max-width: 768px) {
    .four-kid-image {
        margin-left: 20px; 
        margin-right: 20px;
        margin-top: 50px;
    }

    .flexbox-container {
        flex-direction: column; 
    }

    .left-top, .left-bottom, .right-top, .right-bottom {
        margin-top: 20px; 
    }

    .overlay-text {
        position: relative; 
        bottom: auto;
        left: auto;
        margin-top: 15px; 
    }
}


 /* Popular shoes */
 .popular-shoes {
  margin-top: 84px;
  padding-left: 48px;
}

.popular-text {
  margin-bottom: 24px;
  padding-top: 2px;
  padding-right: 48px;
}

/* horizontal-image-with-text-below */
.horizontal-scroll-container-text {
  display: flex; 
  overflow-x: auto; 
}

.image-with-text {
  padding-bottom: 30px; 
  margin-right: 10px; 
}

.image-with-text img {
  max-width: 558px;
  height: auto; 
  margin-bottom: 10px; 
}

.image-with-text h4,
.image-with-text h5,
.image-with-text h3 {
  text-align: left; 
}

.image-with-text h5 {
  color: gray
}

@media (max-width: 768px) {
  .horizontal-scroll-container-text {
    overflow-x: auto;
    padding-left: 0;
  }

  .image-with-text {
    padding-left: 4px; 
    margin-right: 0; 
  }

  .image-with-text img {
    width: 340px;
    max-width: none; 
  }

}


/* Trending-section */
.image-two-people {
  padding-left: 48px;
  padding-right: 48px;
  display:flex;
  justify-content: space-between;
}

.image-trending {
  position: relative;
  flex: 1;
  padding: 5px;
}

.overlay-text-trending {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black;
 }

.overlay-text-trending button {
  background-color: white; 
  color: black; 
  border-radius: 20px; 
  padding: 8px 16px; 
} 

.image-trending img {
  width: 100%;
  height: auto;
}   

@media (max-width: 768px) {
  .image-two-people {
    flex-direction: column; 
  }

  .image-trending,
  .overlay-text-trending {
    width: 100%; 
    left: 0; 
  }
  .overlay-text-trending {
    margin-left: 15px; 
  }
}

/* Three-kids-more-to-explore */
.explore-more {
  margin: 12px 0 24px; /* Bottom, top and sides */
  padding-right: 24px;
  padding-top: 2px;
}

.three-kid-imgae {
  margin: 84px 48px; /* Margin: top 84px, right/left 48px */
  padding-bottom: 84px;
}

.three-kid {
  display: flex; 
  width: 100%;
}

/* Style for each picture */
.kid-picture {
  width: 100%;
  height: auto; 
  margin-right: 10px;
}

.text-beside {
  padding-top: 16px;
}

/* Style for the images inside each picture */
.kid-picture img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.anchor-underline {
  margin-top: 10px;
}

/* Responsive More-to-explore */
@media (max-width: 768px) {
  .three-kid  {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .three-kid-imgae {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .anchor-underline {
    margin-bottom: 20px;
    margin-top: -2px;
    padding-bottom: 10px;
  }

  .explore-more {
    margin-top: 84px;
    margin-bottom: 28px;
  }

  .text-beside {
    padding-top: 16px;
  }
}

/* classic-shoes */
.classic-shoes {
  margin: 84px 48px 24px; /* Margin: top 0, right/left 48px, bottom 24px */
}

/* carousel */
.horizontal-scroll-container {
  padding-left: 48px;
  width: 100%; 
  max-width: 100%; 
  overflow-x: auto; 
  white-space: nowrap; 
}

.horizontal-scroll-container img {
  display: inline-block; 
  max-width: 100%; 
  height: auto;
  object-fit: cover; 
  margin-right: 10px;
}

@media (max-width: 768px) {
  .horizontal-scroll-container img {
    width: 340px; 
    max-width: none; 
    margin-right: 0;
  }
}


  /* Footer 1 */
  .footer1-kid {
    margin-top: 48px;
    margin-bottom: 56px;
    font-size: 12px;
}

.outer-container {
    margin-left: 179.500px; 
    margin-right: 179.500px; 
}

.footer-kid-margin {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center; 
    margin-left: 179.500px; 
    margin-right: 179.500px; 
}

.footer-kid-margin > div {
    text-align: left; 
    color: gray;
}

.footer-kid-margin h4 {
    margin-bottom: 24px; 
    color: black;
    font-size: 24px;
}

.footer-kid-margin ul {
    list-style: none;
    padding: 0; 
    font-size: 16px;
}

.footer-kid-margin ul li {
    margin-bottom: 12px; 
}

.footer-kid-margin ul li a:hover {
  color: black; 
}


@media (max-width: 768px) {
  .footer-kid-margin {
      display: flex;
      flex-direction: column;
      align-items:start;
      margin-left: 50px;
      gap: 10px;
      margin-top: 50px;
      top: 0;
  }
  
  .footer-kid-margin ul li {
      display: none;
 
  }
}

@media (min-width:1280px) {
  .footer-kid-margin {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 20px;
    gap: 110px;
    margin-top: 50px;
    top: 0;
}
  
}

/* Footer2 */
.footer2-kid {
  background-color: black;
  padding-top: 40px;
  padding-left: 28px;
  padding-right: 40px;
  margin-left: -6px;
  margin-right: -6px;
  font-size: 12px;
}

.footer2-container {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.footer2-container h4 {
  font-size: 14px;
}

.footer2-class {
  margin-right: 30px;
}

.footer2-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer2-li {
  padding: 6px;
  color: gray;
  margin-bottom: 5px;
}

/* svg icons */
.svg-icon-footer2 {
  display: flex;
  margin-left: 20px;
}


.svg-icon-footer2 ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: gray;
    padding: 0;
    margin: 0;
}

/* United state */
.privacy {
  margin-top: 48px;
}

.down-footer2 {
  color: white;
  display: flex;
  padding-left: 50px;
  padding-right: 6px;
  padding-top: 12px;
  font-size: 16px;
}

.nike-right-reserved {
  color: gray;
}

/* footer2-right */
.footer2-bottom-right {
  margin-left: auto;
  color: gray;
  gap: 20px;
}

.footer2-bottom-right ul {
  display: flex;
  margin: -50px;
  margin-right: -2px;
  gap: 20px;
}

.footer2-bottom-right li {
  justify-content: space-around;
  margin-left: 40;
}

.footer2-bottom-right ul li {
  margin-bottom: 10px;
}

/* footer-down the guides */
.footer-links-column {
  justify-content: flex-end;
  display: flex;
  color: gray;
  list-style: none;
  padding: 10px;
  margin: 0;
  gap: 20px;
  margin-top: -30px;
}

.footer-links-column li {
  margin-left: 0;
}

.img-blue-icon {
  margin-top: 2px;
}

.footer2-kid > .footer2-container > .footer2-class > .footer2-ul > .footer2-li:hover {
  color: white;
  cursor: pointer;
}

.svg-icon-footer2 :hover {
  fill: white;
  cursor: pointer;
}

/* Footer2 responsive */
@media (max-width: 768px) {
  /* Hide li elekidts */
  .footer2-class li {
    display: none;
  }

  .footer2-kid > .container > .footer2-kid > .footer2-container {
    display: flex;
    flex-direction: column;
  }
  .footer2-kid > .container > .footer2-kid > .footer2-container > .svg-icon-footer2 > ul > li {
    display: flex;
    position: relative;
    left: -10%;
    top: 20px;
  }
  /* united-state */
  .footer2-kid > .container > .footer2-kid >  .privacy > .down-footer2  {
    display: flex;
    flex-direction: column;
    margin-left: -10vw;
    margin-bottom: 2vh;
    }

    /* location */
    .footer2-kid > .container > .footer2-kid >  .privacy > .down-footer2 > .svg-location  {
      display: flex;
      margin-bottom: 10px;
    }

    /* Display h4 elekidts */
    .footer2-class h4 {
      display: block;
    }

    .footer2-bottom-right {
      display: none;
    }

    .footer-links-column {
      display: none;
    }

    .country-pin-label {
      font-size:smaller;
    }
}

/* iphone12-pro */
@media (max-width: 390px) and (max-height: 844px) {
  .svg-icon-footer2 {
    display: none;
  }
  .big-nav-container {
    display: none;
  }
}