/* New Release Section */
  .new-release {
  display: flex;
  justify-content: space-between;
  /* padding: 15px 48px 15px; */
  }

  /* Sidebar */
  body {
    overflow-x: hidden;
  }

  .sidenav {
    padding-left: 48px;
    width: 240px;
    position:absolute;
    z-index: 1;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidenav a {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
  }

  .image-main {
    margin-left: 280px;
    font-size: 28px;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 20px;
  }

  /*  humburger */ 
  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease; 
  }
  
  .sidebar.active {
    right: 0;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .close-btn {
    font-size: 28px;
    cursor: pointer;
    margin-left: 90%; 
  }

  /* hover on the texts */
  .hover-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20px);
    background-color: rgb(255, 255, 255);
    width:100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    z-index: 1; 
  }

  .hover-down-texts {
    margin-bottom: 20px;
    gap: 80px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }


  .flex-item-hover {
    display: flex;
    flex-direction: column;
  }

  .flex-item-hover > a {
    margin-bottom: 10px;
  }

  .flex-item-hover-gray {
    color: gray;
    margin-bottom: 10px;
  }

  .flex-item-hover-gray:hover {
    color: black;
  }
  /* end-hover-tetxs */

  @media (min-width: 1900px) {
    .hover-box {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 15px);
      background-color: rgb(255, 255, 255);
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s linear;
      z-index: 1; 
    }
  }

      /* accordion */
      .accordion-content {
        display: none;
      } 

      .accordion-content.active {
          display: block;
      }


      /* Checkbox */
      .row {
        display:grid;
        justify-content:flex-start;
      }
      .form-check {
        margin-bottom: 10px;
      }
      
      .form-check-input {
        margin-right: 2px; 
      }
    
      /* color */
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
        margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
      }
    }
    
      .circle {
        margin-left: 20px;
        width: 28px;
        height: 28px;
        border: 1px solid #ccc;
        border-radius: 100%; 
        display: flex;
        flex-direction: column;
      }
      
      .circle p {
        margin-top: 30px;
        font-size: 14px;
      }
    
      .purple-color{
          background-color: #8D429F;
      }
      .black-color {
        background-color: #000000;
      }
      .red-color {
        background-color: #E7352B;
      }
      .orange-color {
        background-color: #F36B26;
      }
      .blue-color {
        background-color: #1790C8;
      }
      .white-color {
        background-color: #fff;
      }
      .brown-color {
        background-color: #825D41;
      }
      .green-color {
        background-color: #7BBA3C;
      }
      .yellow-color {
        background-color: #FED533;
      }
      .grey-color {
        background-color: #808080;
      }
      .pink-color {
        background-color: #F0728F;
      }
      .multi-color {
        background: radial-gradient(#f2f2f2 20%, transparent 20%), radial-gradient(#1a1919 20%, transparent 20%), #2b2323;
      }
      
      /* image */
      .image-container {
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        text-align:start;  
        margin-bottom: 20px;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
    }
    
    .image-container a {
      color: #9E3500;
      font-size: 20px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    
    .image-container p {
      font-size: 16px;
      margin: 5px 0;
    }
    
    .gray-text {
      color: gray;
    }
    
    
    @media (max-width: 1080px) {
      .sidenav {
        display: none;
      }
      .image-main {
        margin-left: 10px;
      }
    }
  

  /* Footer2 */
  .footer2-men {
    background-color: black;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 16px;
    font-size: 12px;
  }

  .footer2-container {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  }

  .footer2-container h4{
    font-size: 14px;
  }

  .footer2-class {
    margin-right: 30px;
  }

  .footer2-ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer2-li {
    padding: 6px;
    color: gray;
    margin-bottom: 5px;
  }

  /* svg icons */
  .svg-icon-footer2 {
    display: flex;
    margin-left: 20px;
  }


  .svg-icon-footer2 ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      color: gray;
      padding: 0;
      margin: 0;
  }

  /* United state */
  .privacy {
    margin-top: 48px;
  }

  .down-footer2 {
    color: white;
    display: flex;
    padding-left: 2vw;
    padding-right: 6px;
    padding-top: 12px;
    font-size: 16px;
  }

  .nike-right-reserved {
    color: gray;
    font-size: 12px;
  }

  /* footer2-right */
  .footer2-bottom-right {
    margin-left: auto;
    color: gray;
    gap: 20px;
    font-size: 12px;
  }

  .footer2-bottom-right ul {
    display: flex;
    margin: -50px;
    margin-right: -2px;
    gap: 20px;
  }

  .footer2-bottom-right li {
    justify-content: space-around;
    margin-left: 40;
  }

  .footer2-bottom-right ul li {
    margin-bottom: 10px;
  }

  /* footer-down the guides */
  .footer-links-column {
    justify-content: flex-end;
    display: flex;
    color: gray;
    list-style: none;
    padding: 5px;
    margin: 0;
    gap: 20px;
    margin-top: -30px;
  }

  .footer-links-column li {
    margin-left: 0;
  }

  .footer2-men > .footer2-container > .footer2-class > .footer2-ul > .footer2-li:hover {
    color: white;
    cursor: pointer;
  }
  .svg-icon-footer2 :hover {
    fill: white;
    cursor: pointer;
  }

  /* Footer2 responsive */
  @media (max-width: 768px) {
    /* Hide li elements */
    .footer2-class li {
      display: none;
    }

    /* svg-icon */
    .footer2-featured > .container > .footer2-men > .footer2-container {
      display: flex;
      flex-direction: column;
    }
    .footer2-featured > .container > .footer2-men > .footer2-container > .svg-icon-footer2 > ul > li {
      display: flex;
      position: relative;
      left: -3vw;
      top: 30px;
    }

    /* Display h4 elements */
    .footer2-class h4 {
      display: block;
    }

    .footer2-bottom-right {
      display: none;
    }

    .footer-links-column {
      display: none;
    }

    /* united-state */
    .footer2-featured > .container > .footer2-men >  .privacy > .down-footer2  {
      display: flex;
      flex-direction: column;
      margin-left: -2vw;
      margin-bottom: 2vh;
      }

      /* location */
      .footer2-featured > .container > .footer2-men >  .privacy > .down-footer2 > .svg-location  {
        display: flex;
        margin-bottom: 10px;
      }
    }
    

  /* iphone12-pro */
  @media (max-width: 390px) and (max-height: 844px) {
    .svg-icon-footer2 {
      display: none;
    }
    .big-nav-container {
      display: none;
    }
  }